
body {
    background-image: url("bilder/oransjeblomster.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
}


.navbar {
    background-color:tomato;
    width: 35%;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15mm;
    color: white;
    border-color: rgb(221, 74, 48);
    text-align: center;
    border-style: solid;
}

.navbar a {
    text-decoration: none;
    color:white;
}


.bildesamling {
    margin-top: -50%;
    float: right;
    padding: 3mm;
    border-style: solid;
    background-color: tomato;
    color: white;
    border-color: rgb(221, 74, 48);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20pt;
}

.oversite {
    font-family: sans-serif;
    font-size: xx-large;
    text-align: center;
    float: left;
    text-decoration: none;
    color: white;
}

.oversite a {
    text-decoration: none;
    color: white;
}

.header {
    font-size: 150%;
    font-family:geneva;
}


