html {
    margin:0;
}
body {
    background-color: tomato;
    background-size: cover;
}

.appdesignoverskrift {
    color: white;
    text-align: center;
    font-size: 200%;
}

.minimalenoverskrift {
    color: white;
    text-align: center;
    font-size: 200%;
}

.portfoliooverskrift {
    color: white;
    text-align: center;
    font-size: 200%;
}