*{
    box-sizing: border-box;
}

body {
    background-image:url("bilder/oransjeblomster.jpg");
    background-size: cover;
}

.navbar {
    background-color:tomato;
    width: 35%;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15mm;
    color: white;
    border-color: rgb(221, 74, 48);
    text-align: center;
    border-style: solid;
}

.navbar a {
    text-decoration: none;
    color:white;
}

.autumn {
    width: 40%;
    margin:auto;
    margin-bottom: 100px;
    margin-top: 100px;
    padding: 20mm;
    border-style: solid;
    background-color: tomato;
    color: white;
    border-color: rgb(221, 74, 48);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20pt;
}

.autumn p {
    color: white;
    border-color: rgb(221, 74, 48);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20pt;
}

.autumn a {
    text-decoration: none;
    color: white;
}

.spring {
    width: 40%;
    margin: auto; 
    padding: 20mm;
    border-style: solid;
    background-color: tomato;
    color: white;
    border-color: rgb(221, 74, 48);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20pt;
}

.spring p {
    color: white;
    border-color: rgb(221, 74, 48);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20pt;
}

.spring a {
    text-decoration: none;
    color: white;
}

.header {
    font-size: 150%;
    font-family:geneva;
}

.container {
    position:absolute;
    left: 35%;
    width: 65%;
    top: 10%;
}

